langchain
langchain-core
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
numpy
openai
orjson
ormsgpack
langgraph-checkpoint-sqlite
langgraph_backend
packaging
langchain_ollama
pandas
pydantic
pydantic_core
langchain_community
dotenv
streamlit